@page "/Jugador/Create"

@rendermode InteractiveServer
@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager

<PageTitle>Crear Jugador</PageTitle>
<EditForm Model="Jugador" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Jugador</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label"><strong>Nombre</strong></label>
                    <InputText class="form-control" @bind-Value="Jugador.Nombres"></InputText>
                    <ValidationMessage For="(() => Jugador.Nombres)" />
                </div>
                <div class="mb-3">
                    <label class="form-label"><strong>Partidas</strong></label>
                    <InputNumber class="form-control" @bind-Value="Jugador.Partida"></InputNumber>
                    <ValidationMessage For="(() => Jugador.Partida)" />
                </div>
            </div>
            <div class="card-footer text-center mt-2">
                <a href="/Jugador/Index" class="btn btn-secondary">
                    <span class="bi bi-arrow-left"></span> Volver
                </a>
                <button type="submit" class="btn btn-primary bi bi-floppy"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>
@Mensaje

@code {
    public Jugadores Jugador { get; set; } = new Jugadores();
    public string Mensaje { get; set; } = string.Empty;

    public async Task Guardar()
    {
        var creado = await jugadoresService.Guardar(Jugador);

        if (creado)
        {
            Mensaje = "Jugador guardado correctamente";
            navigationManager.NavigateTo("/Jugador/Index");
        }
        else
        {
            Mensaje = "No se pudo guardar el jugador";
        }
    }
}
